@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-montserrat-text: "Montserrat", sans-serif;
  --font-libre-caslon-text: "Libre Caslon Text", serif;

  --color-primary: #f2e5d0;
  --color-secondary: #f9f3ee;
  --color-tertiary: #fca72c;
  --color-dark: #725b3a;
}

.scrollbar::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  @apply bg-dark/40;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-dark/80;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-dark;
}
