@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-libre-caslon-text: "Libre Caslon Text", serif;
  --font-montserrat-text: "Montserrat", sans-serif;
  --color-primary: #f2e5d0;
  --color-secondary: #f9f3ee;
  --color-tertiary: #fca72c;
  --color-dark: #725b3a;
}
